@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Ubuntu, Arial, sans-serif;
  line-height: 1.42em; }

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

li {
  list-style: none; }

.header__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-first.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.header__container {
  max-width: 1100px;
  margin: 0 auto; }

.header__main {
  padding-top: 1.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.main-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase; }

.main-nav__item {
  cursor: pointer;
  margin-right: 4rem;
  -webkit-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s; }

.main-nav__item:after {
  position: absolute;
  right: 1.5rem;
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  background-color: #ffffff;
  cursor: default;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.main-nav__item:hover {
  color: #e15431; }

.main-nav__item:hover:after {
  background-color: #e15431; }

.main-nav__link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  list-style: none;
  vertical-align: middle;
  cursor: default; }

.promo {
  margin-top: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.promo__image-item-burger {
  background-image: url("../img/forsprite/other/burgers-slider/burger-promo.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 451px;
  height: 424px; }

.promo__title {
  font-size: 7.2rem;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  color: #f6b641;
  line-height: 8.5rem; }

.promo__text-item {
  font-size: 7.2rem;
  font-family: Lifehack, Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 8.5rem;
  text-transform: lowercase; }

.promo__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10%; }

.promo__image {
  margin-right: 5rem; }

.features__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-features.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.features__container {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.features__main-title {
  font-size: 7.2rem;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  color: #2f3234;
  margin-top: 20vh; }

.features__items {
  margin: 10% auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center; }

.features__list {
  width: 32%;
  margin-right: 1%; }

.features__item {
  margin-bottom: 7%; }

.features__title {
  line-height: 2.8rem; }

.features__image {
  width: 10rem;
  height: 9rem;
  display: inline-block; }

.features__image--meat {
  background-image: url("../../img/forsprite/svg/meat.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  width: 10rem;
  height: 9rem; }

.features__image--hand {
  background-image: url("../../img/forsprite/svg/hand.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  width: 8rem;
  height: 9rem; }

.features__image--leaf {
  background-image: url("../../img/forsprite/svg/natural.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  width: 9rem;
  height: 9rem; }

.features__title {
  font-size: 2.41rem;
  font-family: Lifehack, Arial, Helvetica, sans-serif;
  color: #2f3234; }

.features__text {
  color: #6e6e6e;
  font-size: 1.4rem;
  line-height: 2.4rem; }

.comments__bg {
  min-height: 650px;
  height: 100vh; }

.comments__container {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }

.comments__image {
  min-height: 32.5rem;
  height: 50vh;
  width: 25%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s; }

.comments__image:hover {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5); }

.comments__image:hover .comments__item {
  opacity: 1; }

.comments__image--1 {
  background-image: url("../img/forsprite/comments-images/1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 35%; }

.comments__image--2 {
  background-image: url("../img/forsprite/comments-images/2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0; }

.comments__image--3 {
  background-image: url("../img/forsprite/comments-images/3.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0; }

.comments__image--4 {
  background-image: url("../img/forsprite/comments-images/4.jpg");
  background-repeat: no-repeat;
  background-position: 10% 40%; }

.comments__image--5 {
  background-image: url("../img/forsprite/comments-images/5.jpg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.comments__image--6 {
  background-image: url("../img/forsprite/comments-images/6.jpg");
  background-repeat: no-repeat;
  background-position: 60% 0; }

.comments__image--7 {
  background-image: url("../img/forsprite/comments-images/7.jpg");
  background-repeat: no-repeat;
  background-position: 40% 0; }

.comments__image--8 {
  background-image: url("../img/forsprite/comments-images/8.jpg");
  background-repeat: no-repeat;
  background-position: 60% 0; }

.comments__item {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  width: 70%;
  text-align: left;
  margin: auto; }

.comments__title {
  font-size: 1.4rem;
  color: #ffffff;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  margin-top: 5vh;
  margin-bottom: 30px; }

.comments__text {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 2.4rem; }

.menu__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-menu.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.menu__container {
  position: relative; }

.menu__title {
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  font-size: 7.2rem;
  color: #ffffff;
  display: inline-block;
  margin-top: 15vh;
  margin-left: 15vw; }

.team__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-team.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.team__container {
  min-height: 650px;
  height: 100vh;
  width: 50%;
  margin-left: auto;
  background-color: rgba(51, 54, 56, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.team__item {
  margin: 25vh 0 0 10vw; }

.team__title {
  display: inline-block;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  font-size: 7.2rem;
  color: #f6b641;
  margin-bottom: 10vh; }

.contacts__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-contacts.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.main-logo {
  padding-left: 1.77rem;
  margin-right: auto; }

.btn {
  padding: 13px 16px;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  background-color: #e15431;
  color: #ffffff;
  margin-right: 80px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.btn:hover {
  background-color: #962f16; }

.btn__down {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  padding: 15px;
  border: 2px solid #ffffff;
  border-right: transparent;
  border-top: transparent;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.btn__down:hover {
  border: 2px solid #e15431;
  border-right: transparent;
  border-top: transparent; }

.btn__more {
  padding: 13px 16px;
  margin-top: 17px;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: auto;
  background-color: #6e6e6e;
  border: none;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.btn__more:hover {
  background-color: #3b3b3b; }

.btn__slide-container {
  position: fixed;
  top: 8vh;
  right: 1vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.btn__slide-relative-item {
  margin-bottom: 20px;
  position: relative; }

.btn__slide {
  position: absolute;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
  left: -3px; }

.btn__slide-label {
  cursor: pointer; }

.btn__slide:not(checked) {
  position: absolute;
  opacity: 0; }

.btn__slide:not(checked) + .btn__slide-label {
  position: relative;
  padding: 0 0 0 35px; }

.btn__slide:not(checked) + .btn__slide-label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFF;
  border: 1px solid #e15431;
  -webkit-transition: all 0.10s;
  -o-transition: all 0.10s;
  transition: all 0.10s; }

.btn__slide:not(checked) + .btn__slide-label:after {
  content: '';
  position: absolute;
  top: -9px;
  left: -6px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.10s;
  -o-transition: all 0.10s;
  transition: all 0.10s; }

.btn__slide:checked + .btn__slide-label:after {
  opacity: 1; }

.btn__slide:checked + .btn__slide-label:before {
  background: #e15431; }

.btn__slide:checked + .btn__slide-label:after {
  border: 2px solid #e15431; }

.accordeon-team__team {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 24px; }

.accordeon-team__desc-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 0;
  overflow: hidden; }

.accordeon-team__desc-avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-image: url("../../img/forsprite/our-team/1.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 0%;
  margin-right: 2vw;
  margin-bottom: 2vh; }

.accordeon-team__desc-people {
  position: relative;
  display: inline-block;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  margin-bottom: 2vh;
  cursor: pointer; }

.accordeon-team__desc-people:before {
  position: absolute;
  left: -25px;
  top: 8px;
  content: "";
  width: 0;
  height: 0;
  border: 0.8rem solid transparent;
  border-top-color: #f6b641;
  border-bottom: 0;
  cursor: pointer; }

.accordeon-team__desc-people.accordeon-team__desc-people--active {
  color: #f6b641; }

.accordeon-team__desc-people.accordeon-team__desc-people--active + .accordeon-team__desc-area {
  height: 100%;
  overflow: hidden; }

.accordeon-team__desc-people.accordeon-team__desc-people--active:before {
  position: absolute;
  left: -25px;
  top: 8px;
  content: "";
  width: 0;
  height: 0;
  border: 0.8rem solid transparent;
  border-bottom-color: #f6b641;
  border-top: 0;
  cursor: pointer; }

.accordeon-team__desc__text {
  width: 15vw;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.accordeon-team__desc-text-title,
.accordeon-team__desc-text-item {
  display: inline-block;
  margin-bottom: 10px; }

.accordeon-menu__desc {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 650px;
  height: 100vh; }

.accordeon-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.accordeon-menu__list-title {
  height: 100%;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.accordeon-menu__hidden-desc {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 24px;
  padding: 20px; }

.accordeon-menu__hidden-desc-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 15vw; }
