@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Ubuntu, Arial, sans-serif;
  line-height: 1.42em; }

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

.header__background {
  max-width: 1100px;
  min-height: 650px;
  height: 100vh;
  margin: 0 auto;
  background-image: url("../img/background-images/bg-first.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.header__main {
  padding-top: 1.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase; }

.main-nav__link {
  position: relative;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.main-nav__item {
  padding-right: 2rem; }

.main-nav__item:after {
  position: absolute;
  content: '•';
  font-size: 1.3rem;
  color: #ffffff;
  right: 0.5rem; }

.main-nav__link {
  padding: 1em;
  text-decoration: none;
  color: #ffffff;
  list-style: none; }

.promo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.promo__image-item-ketchup {
  background-image: url("../img/forsprite/other/burgers-slider/ketchup.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 41.7rem;
  height: 42.4rem; }

.promo__image-item-burger {
  background-image: url("../img/forsprite/other/burgers-slider/burger-promo.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 41.7rem;
  height: 42.4rem; }

.promo__title {
  font-size: 7.2rem;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  color: #f6b641;
  line-height: 8.5rem; }

.promo__text-item {
  font-size: 6.5rem;
  font-family: Lifehack, Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 8.5rem;
  text-transform: lowercase; }

.main-logo {
  padding-left: 1.77rem; }

.btn {
  width: 9.7rem;
  height: 3.5rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  background-color: #e15431;
  color: #ffffff;
  margin-right: 8rem; }

.btn__slide-container {
  position: absolute;
  top: 0;
  right: 5.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.btn__slide {
  margin: 0.75rem; }
