@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Ubuntu, Arial, sans-serif;
  line-height: 1.42em; }

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

li {
  list-style: none; }

.header__container {
  max-width: 1100px;
  min-height: 65rem;
  height: 100vh;
  margin: 0 auto;
  background-image: url("../img/background-images/bg-first.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.header__main {
  padding-top: 1.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.main-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase; }

.main-nav__link {
  position: relative;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.main-nav__item {
  padding-right: 2rem; }

.main-nav__link {
  padding: 1em;
  text-decoration: none;
  color: #ffffff;
  list-style: none; }

.promo {
  margin-top: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }

.promo__image-item-burger {
  background-image: url("../img/forsprite/other/burgers-slider/burger-promo.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  width: 45.1rem;
  height: 42.4rem; }

.promo__title {
  font-size: 7.2rem;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  color: #f6b641;
  line-height: 8.5rem; }

.promo__text-item {
  font-size: 7.2rem;
  font-family: Lifehack, Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 8.5rem;
  text-transform: lowercase; }

.promo__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10%; }

.promo__image {
  margin-right: 5rem; }

.features__container {
  max-width: 1100px;
  min-height: 65rem;
  height: 100vh;
  margin: 0 auto;
  background-image: url("../img/background-images/bg-features.jpg");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.features__main-title {
  font-size: 7.2rem;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  color: #2f3234;
  margin: 15% auto 0 auto; }

.features__items {
  margin: 10% auto;
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center; }

.features__list {
  width: 32%;
  margin-right: 1%; }

.features__item {
  margin-bottom: 7%; }

.features__title {
  line-height: 2.8rem; }

.features__image {
  background-image: url("../img/forsprite/svg/beef(1).svg");
  width: 10rem;
  height: 9rem;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  display: inline-block; }

.features__title {
  font-size: 2.41rem;
  font-family: Lifehack, Arial, Helvetica, sans-serif;
  color: #2f3234; }

.features__text {
  color: #6e6e6e;
  font-size: 1.4rem;
  line-height: 2.4rem; }

.comments__container {
  max-width: 1100px;
  min-height: 65rem;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.comments__image {
  background-image: url("../img/comments-images/3.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 32.5rem;
  height: 50vh;
  width: 25%; }

.comments__item {
  opacity: 0; }

.main-logo {
  padding-left: 1.77rem; }

.btn {
  width: 9.7rem;
  height: 3.5rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  background-color: #e15431;
  color: #ffffff;
  margin-right: 8rem;
  cursor: pointer; }

.btn:hover {
  background-color: #c1401e; }

.btn-down {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 3rem;
  height: 3rem;
  border: 2px solid #ffffff;
  border-right: transparent;
  border-top: transparent;
  cursor: pointer; }

.btn__slide-container {
  position: absolute;
  top: 10vh;
  right: 3vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.btn__slide {
  margin: 0.75rem; }
