@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";


.about {
  background-color: $softwhite2;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  &__wrapper {
    width: 100%;
    height:100%;
    @include tablets {
      max-width: 65%;
      margin:0 auto;
      background-color: $softwhite2;
    }
    @include desktop {
      display: flex;
      flex-direction:row;
      justify-content:flex-end;
      max-width: 100%;
    }
  }
  &__title {
    display: flex;
    justify-content:center;
  }
  &__title-item {
    position: relative;
    font-family: $bern;
    font-size: $fz63;
    @include tablets {
      font-size:$fz59;
    }
    @include desktop {
      margin-right:rem(60px);
    }
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      left: rem(-50px);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      right: rem(-50px)
    }
  }
  &__my-story-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:rem(20px);
    @include desktop {
      max-width: 50%;
    }

  }
  &__my-story-title {
    font-family: $bern;
    font-size: $fz63;
    position: relative;
  }
  &__my-photo {
    width: 100%;
  }
  &__my-photo-item {
    width: 100%;
  }
}

