@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";

.blog {
  color: $gray;
  position: relative;
  display: flex;
  flex-direction:column;
  margin: 0 auto;
  width: 100%;
  height:100%;
  &__bg{
    position: absolute;
    z-index: 999;
    height: rem(40px);
    top: rem(-39px);
    width: 100%;
    background-image: url('../img/parts/bg-decorate-blog.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content {
    padding: rem(10px);
  }
  &__title {
    font-family:$bern;
    font-size:$fz35;
    color: $gray;
    margin-top: rem(60px);
  }
  &__title-date {
    color: $greenOp;
    margin-bottom:rem(20px);
  }
}