@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";

.blog {
  color: $gray;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  &__content {
    padding: rem(30px);
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include laptop {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  &__title-item {
    font-family: $bern;
    font-size: $fz63;
    color: $gray;
    margin-top: 0;
  }
  &__title-date {
    color: $greenOp;
    margin-bottom: rem(20px);
  }
  &__content-tab-wrap {
    position: relative;
    @include laptop {
      display: flex;
      margin-top: rem(60px);
    }
    @include phones {
      display: flex;
    }
  }
  &__content-tab-item {
    @include laptop {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(20px);
    }
    @include phones {
      margin-bottom: rem(40px);

    }
    @include tablets {

    }
  }
  &__content-tab-cont {
    @include laptop {
      position: relative;
      width: 20%;
      margin-right: 5%;
      margin-top: rem(10px);
      align-items: flex-start;
      background-color: $white;
      text-align: left;
    }
    @include phones {
      position: fixed;
      top: 0;
      bottom: 0;
      left: rem(-40px);
      height: 100%;
      z-index: 999;
      display: flex;
      flex-direction: column;
      padding: rem(20px);
      justify-content: center;
      align-items: flex-end;
      text-align: right;
      background-color: $greenOp;
      width: 0;
      transition: 0.7s;
    }
    @include tablets {

    }
  }
  &__content-tab-panel {
    @include laptop {
      width: 75%;
    }
  }
  &__content-tab-item-link {
    font-weight: bold;
    @include laptop {
      color: $gray;
      &:hover {
        color: $green;
      }
    }
    @include phones {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__content-tab-circle {
    transition: .45s;
    @include phones {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(99%, -50%);
      width: 25px;
      height: 50px;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      background-color: $greenOp;
      cursor: pointer;
    }
    @include laptop {
      display: none;
    }
  }
}

