@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

.footer__wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform:translate(-50% 0);
}

.footer {
  width: 100vw;
  padding: rem(10px);
  display: flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  color: $whiteOp;
  font-size:$fz18;
  font-weight:300;
}



