@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

.footer-big {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;
  width: 100%;

  &__wrap {
    border-bottom: 1px solid $lgray2;
    width: 100%;
    @include laptop {
      display: flex;
      flex-direction: row;
      justify-content:space-between;
    }
  }

  &__container {
    background-color: $footer;

  }
  &__nav {
    width: 100%;
    margin-top:rem(30px);
    @include laptop {
      width: 50%;
      display: flex;
      justify-content:flex-start;
      margin-top:0;
      margin-left:rem(20px);
    }
  }
  &__nav-list {
    display: flex;
    justify-content:center;
    align-items:center;
    color: $white;
  }
  &__nav-list-item {
    display: inline-block;
    margin-right:rem(10px);
    @include laptop {
      margin-right:rem(50px);
    }
  }
  &__nav-list-item-link {
    color: $white;
  }
  &__socials {
    width: 100%;
    margin-top:rem(20px);
    margin-bottom: rem(20px);
    @include laptop {
      width: 50%;
      display: flex;
      justify-content:flex-end;
      margin:rem(20px);
    }
  }
  &__socials-list {
    display: flex;
    justify-content:center;
    align-items:center;
  }
  &__socials-list-item {
    color: $lgray2;

  }
  &__socials-list-item-link {
    color: $white;
  }
  &__socials-list-item-link {
    width: rem(50px);
    height: rem(50px);
    margin-right: rem(30px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover > .footer-big__svg-arrow-down {
      fill: $white;
    }
  }
  &__svg-arrow-down {
    fill: $whiteOp;
    width: 80%;
    height: 80%;
  }
  &__copyright {
    width: 100%;
    padding: rem(20px) rem(10px);
    color: $lgray2;
    @include laptop {
      display: flex;
      justify-content:space-between;
      padding:rem(20px);
    }
  }
  &__copyright-text {
    display: flex;
    justify-content:center;
    @include laptop {
      display: flex;
      align-items:center;
      max-width:40%;
      margin-bottom:0;
    }
  }
  &__copyright-text.left {
    @include laptop {
      text-align: left;
    }
  }
  &__copyright-text:first-of-type {
    margin-bottom: rem(20px);
  }
}