@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";

.header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: rem(80px);
  &__container {
    padding: rem(10px);
  }
  &__wrapper {
    width: 100%;
  }
  &__socials {
    display: flex;
  }
}

.div {
  margin-right: rem(15px);
}