@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

.slider-img {
  object-fit: cover;
}

.js-main-img-center {
  border: 2px solid $green;
  border-radius: rem(5px);
  width: rem(270px);
  height: rem(175px);
  @include laptop {
  width: rem(373px);
  height: rem(257px);
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.js-main-img-left,
.js-main-img-right {
  border-radius: rem(15px);
  @include laptop {
  width: rem(333px);
  height: rem(223px);
  }
  & img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
}


.js-left-img-center,
.js-right-img-center {
  border: 2px solid $green;
  border-radius: rem(5px);
  width: rem(180px);
  height: rem(120px);
}

.js-left-img-left,
.js-left-img-right {
  width: rem(160px);
  height: rem(107px);
  border-radius: rem(5px);
}

.js-right-img-left,
.js-right-img-right,{
  width: rem(160px);
  height: rem(107px);
}

.slider-img.left {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  filter: grayscale(0.8);
  @include laptop {
    display: initial;
  }
}

.slider-img.right {
  display: none;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  filter: grayscale(0.8);
  @include laptop {
    display: initial;
  }
}

.slider-img.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.slider-js-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  & img {
  width: 100%;
  height: 100%;
  }
}

.slider-js-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  & img {
  width: 100%;
  height: 100%;
  }
}

.my-works__works {
  display: flex;
  align-items:center;
  flex-direction:column;
  background-color: $softwhite;
  height: 100%;
  &-sliders-cont {
    width: 100%;
    min-height:650px;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas:
    "slider1 slider1"
    "info info"
    "slider2 slider2";
    @include tablets {
      grid-template-areas:
    "info slider1"
    "info slider1"
    "info slider2";
    }
  }
  &-main-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top:rem(10px);
  }
  &-slider-single {
    grid-area: slider1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  &-slider-double {
    grid-area: slider2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-slider-desc {
    max-width: 70%;
  }
  &-slider-desc-cont {
    grid-area: info;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
  }

  &-title {
    min-height: 15.3%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    background-color: $softwhite2;
  }
  &-title-item {
    position: relative;
    font-family:$bern;
    font-size: $fz45;
    text-align: center;
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      left: rem(-50px);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      right: rem(-50px)
    }
  }
  &-name {
    display: inline-block;
    text-align: center;
    font-family: $bern;
    font-size: $fz25;
    max-width:100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: rem(20px);
    @include tablets {
      max-width:80%;
    }
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      left: rem(-50px);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      right: rem(-50px)
    }
  }
  &-tech {
    width: 100%;
    padding:rem(10px);
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    margin-bottom: rem(20px);
    &-item {
      color: $green;
      margin-bottom:0;
    }
  }
  &-link {
    color: $white;
    padding: rem(14px) rem(20px);
    background-color: $green;
    border-radius: rem(5px);
    margin-bottom: rem(30px);
    &:hover {
      background-color: darken($green, 10%);
    }
  }
  &-slider-double {
    display: flex;
    justify-content: center;
    align-content:center;
    width: 100%;
    height: 100%;
    position: relative;
    @include laptop {
     justify-content: space-between;
    }

    &.right {
      width: 48%;
      height:100%;
      position: relative;

    }
    &.left {
      width: 48%;
      height:100%;
      position: relative;
    }
  }
  &-svg-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    width:rem(50px);
    height:rem(50px);
    z-index: 10;
  }
  &-svg-arrow {
    fill: $green;
  }
  &-svg-header {
    position: absolute;
    fill: $grayOp;
    max-width: rem(350px);
  }
}

.my-works__works-slider-cont {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


