@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

.my-works__works {
  display: flex;
  align-items:center;
  flex-direction:column;
  background-color: $softwhite;
  height: 100%;
  &-sliders-cont {
    width: 100%;
    min-height: 650px;
    position: relative;
  }
  &-title {
    min-height: 15.3%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    background-color: $softwhite2;
  }
  &-title-item {
    position: relative;
    font-family:$bern;
    font-size: $fz63;
    text-align: center;
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      left: rem(-50px);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      right: rem(-50px)
    }
  }
  &-slider-single {
    display: flex;
    justify-content:center;
    background-color: $softwhite;
    margin-top:rem(60px);
    @include laptop {
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      height: 70%;
      margin: 0;
    }
  }
  &-slider-single-item {
    width: 80%;
    @include laptop {

    }
  }
  &-slider-desc-cont {
    width: 100%;
    background-color: $softwhite3;
    display: flex;
    justify-content:center;
    align-items:center;
    @include laptop {
      height: 100%;
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 auto;
    }
  }
  &-slider-desc {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    @include tablets {
      width: 60%;
    }
  }
  &-name {
    text-align: center;
    font-family: $bern;
    font-size: $fz25;
    max-width:50%;
    position: relative;
    @include tablets {
      max-width:100%;
    }
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      left: rem(-50px);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      right: rem(-50px)
    }
  }
  &-tech {
    text-align: center;
    width: 100%;
    padding:rem(10px);
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    margin-bottom: rem(20px);
    &-item {
      text-transform: uppercase;
      color: $green;
      margin-right: rem(5px);
    }
  }
  &-link {
    color: $white;
    padding: rem(14px) rem(20px);
    background-color: $green;
    border-radius: rem(5px);
    margin-bottom: rem(30px);
  }
  &-slider-double {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height:rem(150px);
    @include laptop {
      width: 50%;
      height: 30%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &.right {
      width: 50%;
      height:100%;
      position: relative;
    }
    &.left {
      width: 50%;
      height:100%;
      position: relative;
    }
  }
  &-svg-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    &:hover {

    }
  }
  &-svg-arrow {
    fill: $green;
    width:rem(50px);
    height:rem(50px);
  }
  &-svg-header {
    position: absolute;
    fill: $grayOp;
    max-width: rem(350px);
  }
}
