@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

.my-works__works {
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width: 100%;
  height:100%;
  &-bg{
    position: absolute;
    z-index: 999;
    height: rem(40px);
    top: rem(-39px);
    width: 100%;
    background-image: url('../img/parts/bg-decorate.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-title {
    width:100%;
    background-color: $softwhite;
    background-image: url('../img/parts/works-header.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    min-height: 15.3%;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  &-title-item {
    position: relative;
    font-family:$bern;
    font-size:$fz35;
    text-align: center;
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      left: 50%;
      top: 50%;
      transform: translateX(-450%);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      left: 50%;
      top: 50%;
      transform: translateX(350%);
    }
  }
  &-slider-horizontal {
    padding: rem(25px);
    min-height:39.5%;
    width: 100%;
    background-color: $softwhite2;
    background-image: url('../img/parts/sliderH.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 9999;
  }
  &-slider-desc {
    min-height: 33.69%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: $softwhite;
  }
  &-name {
    text-align: center;
    font-family: $bern;
    font-size: $fz21;
    max-width:50%;
  }
  &-tech {
    text-align: center;
    width: 100%;
    padding:rem(10px);
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    margin-bottom: rem(20px);
    &-item {
      font-size: $fz14;
      text-transform: uppercase;
      color: $green;
      margin-right: rem(5px);
    }
  }
  &-link {
    color: $white;
    font-size: $fz14;
    padding: rem(14px) rem(20px);
    background-color: $green;
    border-radius: rem(5px);
  }
  &-slider-vertical {
    display: flex;
    justify-content:center;
    height: 14.46%;
    width: 100%;
    &.right {
      width: 50%;
      height:100%;
      background-color: $softwhite2;
      background-image: url('../img/parts/sliderV.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    &.left {
      width: 50%;
      height:100%;
      background-color: $softwhite2;
      background-image: url('../img/parts/sliderV.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}
