@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";


.my-works__about {
  position: relative;
  display: flex;
  align-items:center;
  flex-direction:column;
  width: 100%;
  background: url('../../img/back/sea.png') center no-repeat;
  background-size: 100% 100%;



  &-title {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    margin-top:rem(40px);
  }
  &-svg-arrow-down {
    position: absolute;
    fill: $grayOp;
    z-index: 0;
  }
  &-title-item {
    position: relative;
    font-family:$bern;
    font-size: $fz45;
    max-width:40%;
    text-align: center;
    margin-bottom:0;
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      left: rem(-50px);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      right: rem(-50px)
    }
  }
  &-avatar {
    float: left;
    margin-right:rem(20px);
    border-radius: 50%;
    &.second {
      margin-bottom:rem(40px);
    }
  }
  &-name {
    color: darken($green, 10%);
  }
  &-desc {
    color: $green;
  }
  &-comment {
    padding: 0 rem(20px);
    @include tablets {
      display: flex;
      max-width:800px;
      margin-bottom:rem(30px);
    }
  }
  &-comment-item {

  }
  &-comment-item.first {
    @include tablets {
      margin-right: rem(160px);
    }
  }
  &-avatar.first {

  }
  &-quote {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top:0;
    margin-bottom: rem(40px);
    color: $lgray;
    font-size: rem(80px);
    @include tablets {
      justify-content:flex-start;
    }
  }
  &-quote-item {
    fill: $green;
    width:rem(50px);
    height:rem(50px);
  }
  &-svg-arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50% 0);
    width:rem(50px);
    height:rem(50px);
    margin-right:rem(30px);
    justify-content:center;
    align-items:center;
    cursor: pointer;
    &:hover > .my-works__about-svg-arrow-down {
      fill: $white;
    }
  }
  &-svg-arrow-up {
    fill: $whiteOp;
    width:rem(50px);
    height:rem(50px);
    &:hover {
      fill: $whiteOp2;
    }
  }
  &-svg-header {
    position: absolute;
    fill: $grayOp;
    max-width: rem(350px);
  }
}
