@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Ubuntu, Arial, sans-serif;
  line-height: 1.42em; }

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 52.5%; } }

@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 42.5%; } }

li {
  list-style: none; }

.hidden {
  display: none; }

.footer__social {
  margin: 10px;
  fill: #ffffff;
  width: 20px;
  height: 20px; }

.footer__social:hover {
  fill: #e15431; }

.footer__social:first-child {
  margin-left: 0; }

.footer__phone {
  fill: #ffffff;
  width: 10px;
  height: 10px;
  fill: #e15431; }

.features__icon--meat {
  width: 97px;
  height: 89px;
  fill: #e15431; }

.features__icon--hand {
  width: 97px;
  height: 89px;
  fill: #f6b641; }

.features__icon--natural {
  width: 97px;
  height: 89px;
  fill: #89c242; }

.header__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-first.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.header__container {
  max-width: 1100px;
  margin: 0 auto; }

.header__main {
  padding-top: 1.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

@media screen and (max-width: 768px) {
  .main-nav {
    display: none; } }

.main-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase; }

.main-nav__item {
  cursor: pointer;
  margin-right: 4rem;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.main-nav__item:after {
  position: absolute;
  right: 1.5rem;
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  background-color: #ffffff;
  cursor: default;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.main-nav__item:hover {
  color: #e15431; }

.main-nav__item:hover:after {
  background-color: #e15431; }

.main-nav__link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  list-style: none;
  vertical-align: middle;
  cursor: default; }

.promo {
  margin-top: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

@media screen and (max-width: 768px) {
  .promo {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 5vh; } }

@media screen and (max-width: 480px) {
  .promo {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 10vh;
    margin-left: 4vw; } }

.promo__image-item-burger {
  background-image: url("../img/forsprite/png/burger-promo.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  width: 45.1rem;
  height: 42.4rem; }

.promo__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.promo__title {
  font-size: 7.2rem;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  color: #f6b641;
  line-height: 8.5rem; }

@media screen and (max-width: 768px) {
  .promo__title {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 0;
    text-align: center; } }

.promo__text-item {
  font-size: 7.2rem;
  font-family: Lifehack, Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 8.5rem;
  text-transform: lowercase; }

@media screen and (max-width: 768px) {
  .promo__text-item {
    text-align: center; } }

.promo__image {
  margin-right: 5rem; }

.features__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-features.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.features__container {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.features__main-title {
  font-size: 7.2rem;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  color: #2f3234; }

.features__items {
  margin: 10% auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center; }

@media screen and (max-width: 480px) {
  .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.features__list {
  width: 32%;
  margin-right: 1%; }

.features__item {
  margin-bottom: 7%; }

.features__title {
  line-height: 2.8rem; }

.features__title {
  font-size: 2.41rem;
  font-family: Lifehack, Arial, Helvetica, sans-serif;
  color: #2f3234; }

.features__text {
  color: #6e6e6e;
  font-size: 1.4rem;
  line-height: 2.4rem; }

.comments__bg {
  min-height: 650px;
  height: 100vh; }

.comments__container {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }

.comments__image {
  min-height: 32.5rem;
  height: 50vh;
  width: 25%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s; }

.comments__image:hover {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5); }

.comments__image:hover .comments__item {
  opacity: 1; }

@media screen and (max-width: 768px) {
  .comments__image {
    width: 50%;
    height: 25%; } }

.comments__image--1 {
  background-image: url("../img/comments-images/1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 35%; }

.comments__image--2 {
  background-image: url("../img/comments-images/2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0; }

.comments__image--3 {
  background-image: url("../img/comments-images/3.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0; }

.comments__image--4 {
  background-image: url("../img/comments-images/4.jpg");
  background-repeat: no-repeat;
  background-position: 10% 40%; }

.comments__image--5 {
  background-image: url("../img/comments-images/5.jpg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.comments__image--6 {
  background-image: url("../img/comments-images/6.jpg");
  background-repeat: no-repeat;
  background-position: 60% 0; }

.comments__image--7 {
  background-image: url("../img/comments-images/7.jpg");
  background-repeat: no-repeat;
  background-position: 40% 0; }

.comments__image--8 {
  background-image: url("../img/comments-images/8.jpg");
  background-repeat: no-repeat;
  background-position: 60% 0; }

.comments__item {
  -webkit-background-size: contain;
          background-size: contain;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90%;
  width: 70%;
  margin: auto; }

@media screen and (max-width: 768px) {
  .comments__item {
    text-align: center; } }

@media screen and (max-width: 480px) {
  .comments__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.comments__title {
  font-size: 1.4rem;
  color: #ffffff;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  margin-top: 5vh;
  margin-bottom: 30px; }

@media screen and (max-width: 768px) {
  .comments__title {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 2.5vh; } }

@media screen and (max-width: 480px) {
  .comments__title {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 7.5vh; } }

.comments__text {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 2.4rem; }

@media screen and (max-width: 480px) {
  .comments__text {
    display: none; } }

.menu__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-menu.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.menu__container {
  position: relative;
  width: 100%;
  height: 100%; }

.menu__title {
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  font-size: 7.2rem;
  color: #ffffff;
  display: inline-block;
  margin-top: 15vh;
  margin-left: 15vw; }

.team__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-team.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.team__container {
  min-height: 650px;
  height: 100vh;
  width: 50%;
  margin-left: auto;
  background-color: rgba(51, 54, 56, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 768px) {
  .team__container {
    width: 100%; } }

.team__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto; }

.team__title {
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  font-size: 7.2rem;
  color: #f6b641;
  margin-bottom: 10vh; }

@media screen and (max-width: 768px) {
  .team__title {
    text-align: center; } }

.accordeon-team__list {
  margin-left: 25px; }

@media screen and (max-width: 768px) {
  .accordeon-team__list {
    width: 30%;
    margin: 0 auto; } }

.delivery__bg {
  min-height: 650px;
  height: 100vh;
  width: 100%;
  background-image: url("../img/background-images/bg-order-form.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.delivery__container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center; }

.delivery__title {
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  color: #f6b641;
  font-size: 7.2rem;
  width: 100%; }

.delivery__form {
  padding: 10px;
  margin-top: 45px;
  display: block;
  width: 80vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

@media screen and (max-width: 768px) {
  .delivery__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 480px) {
  .delivery__form {
    width: 100%; } }

.delivery__form-left {
  width: 45%;
  margin: 0 auto; }

.delivery__item-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px; }

.delivery__item-input {
  width: 100%;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 5px;
  height: 30px;
  font-size: 1.4rem;
  outline: none; }

.delivery__item-input:focus {
  border: 3px solid #f6b641; }

.delivery__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
  text-align: left; }

.delivery__block:last-child {
  margin-right: 0; }

.delivery__block-title {
  font-size: 1.4rem;
  color: #ffffff;
  padding: 5px; }

.delivery__form__right {
  width: 45%;
  margin: 0 auto; }

.delivery__item-textarea {
  width: 100%;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 5px;
  width: 100%;
  height: 90px;
  font-size: 1.4rem;
  outline: none;
  resize: none;
  overflow: auto;
  text-align: left; }

.delivery__item-textarea:focus {
  border: 3px solid #f6b641; }

.delivery__item-textarea::-webkit-input-placeholder {
  color: #000000; }

.delivery__item-textarea:-moz-placeholder {
  color: #000000; }

.delivery__item-textarea::-moz-placeholder {
  color: #000000; }

.delivery__item-textarea:-ms-input-placeholder {
  color: #000000; }

.delivery__item-radio,
.delivery__block-title,
.delivery__item-check {
  display: inline-block;
  vertical-align: middle;
  margin: 5px; }

.delivery__item-radio,
.delivery__item-check {
  outline: 0; }

.delivery__item-radio:hover,
.delivery__item-check:hover {
  outline: 0; }

.footer__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-contacts.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #191919; }

.footer {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  background-color: #191919;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.footer__contacts {
  margin-left: 5vw; }

.footer__socials {
  margin-right: 5vw; }

.footer__contacts {
  font-size: 1.4rem;
  line-height: 24px; }

.footer__phone {
  color: #e15431;
  font-weight: bold; }

.main-logo {
  padding-left: 1.77rem;
  margin-right: auto; }

.btn {
  padding: 1.3rem 1.6rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  background-color: #e15431;
  color: #ffffff;
  margin-right: 8rem;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.btn:hover {
  background-color: #962f16; }

.btn__delivery {
  margin-right: 0; }

.btn__down {
  position: absolute;
  top: 90%;
  left: 47%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  padding: 1.5rem;
  border: 0.2rem solid #ffffff;
  border-right: transparent;
  border-top: transparent;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.btn__down:hover {
  border: 2px solid #e15431;
  border-right: transparent;
  border-top: transparent; }

.btn__more {
  padding: 1.3rem 1.6rem;
  margin-top: 1.7rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: auto;
  background-color: #6e6e6e;
  border: none;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.btn__more:hover {
  background-color: #3b3b3b; }

@media screen and (max-width: 768px) {
  .btn__more {
    margin-left: auto; } }

.btn__clear {
  padding: 1.3rem 1.6rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.btn__clear:hover {
  color: #cccccc; }

.btn__slide-container {
  position: fixed;
  top: 8vh;
  right: 1vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 768px) {
  .btn__slide-container {
    display: none; } }

.btn__slide-relative-item {
  margin-bottom: 20px;
  position: relative; }

.btn__slide {
  position: absolute;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
  left: -3px; }

.btn__slide-label {
  cursor: pointer; }

.btn__slide:not(checked) {
  position: absolute;
  opacity: 0; }

.btn__slide:not(checked) + .btn__slide-label {
  position: relative;
  padding: 0 0 0 35px; }

.btn__slide:not(checked) + .btn__slide-label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFF;
  border: 1px solid #e15431;
  -webkit-transition: all 0.10s;
  -o-transition: all 0.10s;
  transition: all 0.10s; }

.btn__slide:not(checked) + .btn__slide-label:after {
  content: '';
  position: absolute;
  top: -9px;
  left: -6px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.10s;
  -o-transition: all 0.10s;
  transition: all 0.10s; }

.btn__slide:checked + .btn__slide-label:after {
  opacity: 1; }

.btn__slide:checked + .btn__slide-label:before {
  background: #e15431; }

.btn__slide:checked + .btn__slide-label:after {
  border: 2px solid #e15431; }

.accordeon-team {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 24px; }

.accordeon-team__list-item {
  margin-bottom: 15px; }

.accordeon-team__desc-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 0;
  overflow: hidden; }

@media screen and (max-width: 768px) {
  .accordeon-team__desc-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.accordeon-team__desc-avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-image: url("../img/our-team/1.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 0%;
  margin-right: 2vw;
  margin-bottom: 2vh; }

.accordeon-team__desc-people {
  position: relative;
  display: inline-block;
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  cursor: pointer; }

@media screen and (max-width: 768px) {
  .accordeon-team__desc-people {
    margin-left: 10px; } }

.accordeon-team__desc-people:before {
  position: absolute;
  left: -25px;
  top: 8px;
  content: "";
  width: 0;
  height: 0;
  border: 0.8rem solid transparent;
  border-top-color: #f6b641;
  border-bottom: 0;
  cursor: pointer; }

.accordeon-team__desc-people.accordeon-team__desc-people--active {
  color: #f6b641; }

.accordeon-team__desc-people.accordeon-team__desc-people--active + .accordeon-team__desc-area {
  height: 100%;
  overflow: hidden; }

.accordeon-team__desc-people.accordeon-team__desc-people--active:before {
  position: absolute;
  left: -25px;
  top: 8px;
  content: "";
  width: 0;
  height: 0;
  border: 0.8rem solid transparent;
  border-bottom-color: #f6b641;
  border-top: 0;
  cursor: pointer; }

.accordeon-team__desc__text {
  width: 15vw; }

@media screen and (max-width: 768px) {
  .accordeon-team__desc__text {
    text-align: center;
    width: 100%; } }

.accordeon-menu__desc {
  position: absolute;
  top: 0;
  right: 0px;
  min-height: 650px;
  height: 100vh;
  width: 100%; }

.accordeon-menu__list {
  min-height: 650px;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.accordeon-menu__list-item {
  width: 5.75vw;
  cursor: pointer; }

.accordeon-menu__list-item:before {
  content: "";
  position: absolute;
  width: 5.75vw;
  height: 100%;
  background-color: rgba(51, 54, 56, 0.4); }

.accordeon-menu__list-item:hover:before {
  background-color: rgba(2, 3, 3, 0.4); }

.accordeon-menu__list-title {
  font-family: Gagalin, Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 80vh;
  padding: 0px; }

.accordeon-menu__list-title-rotate {
  display: inline-block;
  line-height: 0; }

.accordeon-menu__hidden-desc {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 24px;
  background-color: rgba(51, 54, 56, 0.9);
  width: 0;
  overflow: hidden; }

.accordeon-menu__hidden-desc.accordeon-menu__hidden-desc--active {
  width: 35vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 50px 20px; }

.accordeon-menu__list-item--meat {
  background-image: url("../img/background-menu/for-meat.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%; }

.accordeon-menu__list-item--vegan {
  background-image: url("../img/background-menu/for-vegan.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 90% 50%; }

.accordeon-menu__list-item--diet {
  background-image: url("../img/background-menu/for-diet.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 80% 50%; }
