doctype html
html(lang = 'ru-RU')
  head

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8ov6hKATdrdE2lMGQtVc7R_ox6f88E38", type="text/javascript")
    include  ../layout/pages-prop
    title My works
  body
    .wrapper
      .container
        include ../blocks/my-works-section-header
        .flex-container
          .flex-container-item
            include ../blocks/about-section-about
          .flex-container-item
            include ../blocks/about-section-my-skills
        include ../blocks/about-section-contacts
        include ../blocks/footer-big
    include ../modules/mobile-menu
    include ../modules/preloader
  include ../layout/pages-scripts