doctype html
html(lang = 'ru-RU')
  head
    include ../layout/pages-prop
    title My works
  body
    .wrapper
      .container.ss
        include ../blocks/my-works-section-header
        include ../blocks/about-section-about
        include ../blocks/about-section-my-skills
        include ../blocks/about-section-contacts
        include ../blocks/footer-big
  include ../layout/pages-scripts