doctype html
html(lang = 'ru-RU')
  head
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
    extends  ../layout/pages-prop
    title My works
  body
    .wrapper
      .container
        include ../blocks/my-works-section-header
        .flex-container
          .flex-container-item
            include ../blocks/about-section-about
          .flex-container-item
            include ../blocks/about-section-my-skills
        include ../blocks/about-section-contacts
        include ../blocks/footer-big
    include ../modules/mobile-menu
  include ../layout/pages-scripts