doctype html
html(lang = 'ru-RU')
  head
    include ../layout/pages-prop
    title Blog
  body
    .wrapper
      .container
        include ../blocks/blog-section-header
        include ../blocks/blog-section
        include ../blocks/footer-big
  include ../layout/pages-scripts
