doctype html
html(lang = 'ru-RU')
  head
    include ../layout/pages-prop
    title Login
  body
    .wrapper
      .container
        .background-image
          include ../modules/mobile-log-form
          include ../blocks/footer
  include ../layout/scripts-pages

