doctype html
html(lang = 'ru-RU')
  head
    include ../layout/pages-prop
    title Login
  body
    .wrapper
      .container
        .login__bg
          include ../modules/mobile-log-form
          include ../blocks/footer
  include ../layout/pages-scripts


