doctype html
html(lang = 'ru-RU')
  head
    include ../layout/pages-prop
    title My works
  body
    include ../modules/preloader
    .wrapper
      .container
        include ../blocks/my-works-section-header
        include ../blocks/my-works-section-works
        include ../blocks/my-works-section-about
        include ../blocks/footer-big
    include ../modules/mobile-menu
  include ../layout/pages-scripts

