doctype html
html(lang = 'ru-RU')
  head
    include ../layout/pages-prop
    title My works
  body
    .wrapper
      .container
        .background-image
          include ../blocks/section-header
        include ../blocks/section-my-works
        include ../blocks/section-about-me
  include ../layout/scripts-pages

