@import '../abstracts/variables';
.accordeon-menu__desc {
  position: absolute;
  top: 0;
  right: 0px;
  min-height: 650px;
  height: 100vh;
  width: 100%;
}

.accordeon-menu__list {
  min-height: 650px;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.accordeon-menu__list-item {
  width: 5.75vw;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    width: 5.75vw;
    height: 100%;
    background-color: $colGray04;
  }
  &:hover:before {
    background-color: darken($colGray04, 20%);
  }
}

.accordeon-menu__list-title {
  font-family: $fontGagalin;
  font-size: $textBig;
  color: $colWhite;
  transform: rotate(-90deg);
  margin-top: 80vh;
}

.accordeon-menu__list-title-rotate {
  display: inline-block;
  line-height: 0;
}

.accordeon-menu__hidden-desc {
  font-size: $textSmall;
  color: $colWhite;
  line-height: 24px;
  background-color: $colGray09;
  width: 0;
  overflow: hidden;
  &.accordeon-menu__hidden-desc--active {
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
  }
}

.accordeon-menu__list-item--meat {
  background-image: url("../../img/forsprite/menu/for-meat.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.accordeon-menu__list-item--vegan {
  background-image: url("../../img/forsprite/menu/for-vegan.jpg");
  background-size: cover;
  background-position: 90% 50%;
}

.accordeon-menu__list-item--diet {
  background-image: url("../../img/forsprite/menu/for-diet.jpg");
  background-size: cover;
  background-position: 80% 50%;
}