@import '../abstracts/variables';
@import '../abstracts/mixins';
.btn {
  padding: 1.3rem 1.6rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  background-color: $colOrange;
  color: $colWhite;
  margin-right: 8rem;
  cursor: pointer;
  transition: all 0.25s;
  &:hover {
    background-color: darken($colOrange, 20%);
  }
  @include tablets {
    margin-right: 8rem;
  }
  @include phones {
    margin-right: 11rem;
  }
}

.btn__carousel-burgers {
  margin: 0;
}

.btn__delivery {
  margin-right: 0;
}

.btn__down {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(-45deg);
  padding: 1.5rem;
  border: 0.2rem solid $colWhite;
  border-right: transparent;
  border-top: transparent;
  cursor: pointer;
  transition: all 0.25s;
  &:hover {
    border: 2px solid $colOrange;
    border-right: transparent;
    border-top: transparent;
  }
  @include tablets {
    left: 47%;
  }
}

.btn__more {
  padding: 1.3rem 1.6rem;
  margin-top: 1.7rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: auto;
  background-color: $colLightGray;
  border: none;
  color: $colWhite;
  cursor: pointer;
  transition: all 0.25s;
  &:hover {
    background-color: darken($colLightGray, 20%);
  }
  @include tablets {
    margin-left: auto;
  }
}

.btn__clear {
  padding: 1.3rem 1.6rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: $colWhite;
  cursor: pointer;
  transition: all 0.25s;
  &:hover {
    color: darken($colWhite, 20%);
  }
}

.carousel-burgers__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carousel-burgers__icon--arrows {
  &:hover {
    fill: $colGray;
  }
}

.carousel-burgers__btn--prev {
  position: absolute;
  transform: rotate(90deg);
  top: 50%;
  left: 1%;
  z-index: 10;
  @include bigscreen {
    left: 15vw;
  }
}

.carousel-burgers__btn--next {
  position: absolute;
  transform: rotate(-90deg);
  top: 50%;
  right: 1%;
  z-index: 10;
  @include bigscreen {
    right: 15vw;
  }
}
