@import '../abstracts/variables';
@import '../abstracts/mixins';

.best-burgers__slider-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  overflow: hidden;
  max-width: 1100px;
}

.best-burgers__slider {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.best-burgers__list {
  height: 100%;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 2rem;
  z-index: 1;

}

.best-burgers__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  @include tablets {
    width: 80%;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  @include phones {
    width: 90%;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.carousel-burgers__img-item {
  display: flex;
  margin: 0 auto;
  max-width: 40rem;
  margin-right: 1vw;
  @include tablets {
    margin-right: 0;
  }
  @include phones {
  }
}

.carousel-burgers__img,
.carousel-burgers__desc {
  margin: 0 auto;
}

.carousel-burgers__desc {
  text-align: left;
  display: flex;
  flex-direction:column;
  @include tablets {
    text-align: center;
  }
}

.carousel-burgers__desc-price {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  @include tablets {
    justify-content:center;

  }
}

.carousel-burgers__desc-title {
  font-size: $textHuge;
  color: $colWhite;
  font-family: $fontGagalin;
  margin: 2rem;
  line-height: 6.4rem;
}

.carousel-burgers__desc-text {
  font-size: $textSmall;
  color: $colWhite;
  margin: 2rem;
  line-height: 2.4rem;
}

.carousel-burgers__desc-price-summ {
  font-size: $textHuge;
  color: $colOrange;
  font-family: $fontGagalin;
  line-height: 6.4rem;
  margin: 2rem;
}

.carousel-burgers__desc-price-rubles {
  font-size: $textBig;
  text-transform: uppercase;
  color: $colOrange;
  font-family: $fontGagalin;
  margin: 2rem 2rem 2rem 0;
  line-height: 6.4rem;
  margin: 2rem 2rem 2rem 0;
}

.carousel-burgers__icon {
  background-color: transparent;
  width: 6rem;
  height: 3rem;
  fill: $colWhite;
}

.carousel-burgers__calories {
  position: absolute;
  left: 0;
  bottom: -10vh;
  text-align: center;
  height: 10rem;
  @include tablets {
    left: 50%;
    top: -9rem;
    transform: translateX(280%);
  }
  @include phones {
    top: -10rem;
    transform: translateX(200%);
  }
}

.carousel-burgers__icon--cal {
  width: 6rem;
  height: 6rem;
  fill-opacity: 0.5;
}

.carousel-burgers__calories-item {
  font-family: $fontGagalin;
  font-size: $textSmall;
  color: $colWhite;
  line-height: 2.8rem;
}

.carousel-burgers__calories-item--in {
  margin-top: -3.4rem;
  font-size: $textMedium;
}

.carousel-burgers__container {
  position: absolute;
  left: 0;
  top: -12vh;
  display: flex;
  @include tablets {
    top: -10rem;
    left: 50%;
    transform: translateX(-70%);
  }
  @include phones {
    top: -10rem;
    transform: translateX(-55%);
  }
}

.carousel-burgers__menu {
  text-align: center;
  background-color: $colOrange;
  border: none;
  width: 9rem;
  height: 9rem;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    border: 0.2rem solid $colGray;
  }
}

.carousel-burgers__icon--menu {
  width: 6rem;
  height: 6rem;
  @include tablets {
    height: 5rem;
    width: 5rem;
  }
}

.carousel-burgers__menu-title {
  font-family: $fontGagalin;
  font-size: $textSmall;
  color: $colWhite;
}

.carousel-burgers__menu-list {
  background-color: $colWhite08;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all .4s;
  &--active {
    opacity: 1;
  }
}

.carousel-burgers__menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel-burgers__menu-item {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carousel-burgers__menu-icon {
  width: 5rem;
  height: 4rem;
  @include tablets {
    width: 4rem;
    height: 3rem;
  }
}

.carousel-burgers__icon--beef {
  fill: $colOrange;
}

.carousel-burgers__icon--buns {
  fill: $colYellow;
}

.carousel-burgers__icon--salad {
  fill: $colGreen;
}

.carousel-burgers__icon--sauce {
  fill: $colOrange;
}

.carousel-burgers__icon--cucumber {
  fill: $colGreen;
}

.carousel-burgers__icon--cheese {
  fill: $colYellow;
}

.carousel-burgers__menu-name,
.carousel-burgers__menu-weight {
  color: $colBlack;
  font-size: $textSmall;
  padding: 0.5rem;
}

.carousel-burgers__menu-icon {
  margin-right: 3rem;
}

.carousel-burgers__menu-name {
  margin-right: 6rem;
}


