@import '../abstracts/variables';
@import '../abstracts/mixins';

.fixed-menu {
  position: fixed;
  top: 9rem;
  right: 4rem;

  @include tablets {
    display: none;
  }
}

.fixed-menu__link {
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  position: relative;

  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &:after {
    width: 0.6rem;
    height: 0.6rem;
    background: #fff;
    border: 0.05rem solid $colOrange;
  }

  .fixed-menu__link--active:after {
    width: 0.6rem;
    height: 0.6rem;
    background: #fff;
    border: 0.05rem solid $colOrange;
  }

  .fixed-menu__link--active:before {
    width: 1.8rem;
    height: 1.8rem;
    opacity: 1;
  }

  &:before {
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 0.2rem solid $colOrange;
    opacity: 0;
    transition: .3s;
  }

  &:hover {
    &:before {
      width: 1.8rem;
      height: 1.8rem;
      opacity: 1;
    }
  }
}

.fixed-menu__item {
  &.active {
    .fixed-menu__link {
      &:before {
        width: 1.4rem;
        height: 1.4rem;
        opacity: 1;
      }
    }
  }
}

.fixed-menu__item {
  margin-bottom: 1rem;
}