@import '../abstracts/variables';
@import '../abstracts/mixins';

.popup {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: $colGray09;
}

.full-review {

}

.full-review__wrapper {
  position: relative;
  display: flex;
  width: 35vw;
  margin: auto;
  background-color: $colWhite;
  padding: 2rem;
  border-radius: 1rem;
  @include phones {
    width: 90vw;
  }
}

.full-review__title {
  font-family: $fontGagalin;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.full-review__content {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.full-review__close {
  display: flex;
  position: absolute;
  right: 2rem;
  top: 0;
  opacity: .4;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
  svg {
    fill: red;
    width: 2rem;
    height: 3rem;
  }
}

.status-popup__inner {
  position: relative;
  padding: 2rem;
  text-align: center;
}

.status-popup__message {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.status-popup {
  width: 24rem;
}

.error-message {
  color: $colRed;
}
