@import '../abstracts/variables';
@import '../abstracts/mixins';
.btn__slide-container {
  position: fixed;
  top: 12vh;
  right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablets {
    display: none;
  }
}

.btn__slide-relative-item {
  margin-bottom: 20px;
  position: relative;
}

.btn__slide {
  position: absolute;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
  left: -3px;
}

.btn__slide-label {
  cursor: pointer;
}

.btn__slide {
  &:not(checked) {
    position: absolute;
    opacity: 0;
  }
  &:not(checked)+.btn__slide-label {
    position: relative;
    padding: 0 0 0 35px;
  }
  &:not(checked)+.btn__slide-label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #FFF;
    border: 1px solid $colOrange;
  }
  &:not(checked)+.btn__slide-label:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0;
  }
  &:checked+.btn__slide-label:after {
    opacity: 1;
  }
  &:checked+.btn__slide-label:before {
    background: $colOrange;
  }
  &:checked+.btn__slide-label:after {
    border: 2px solid $colOrange;
  }
}