@import '../abstracts/variables';
.btn__slide-container {
  position: fixed;
  top: 8vh;
  right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn__slide-relative-item {
  margin-bottom: 20px;
  position: relative;
}

.btn__slide {
  position: absolute;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
  left: -3px;
}

.btn__slide-label {
  cursor: pointer;
}

.btn__slide {
  &:not(checked) {
    position: absolute;
    opacity: 0;
  }
    &:not(checked)+.btn__slide-label {
    position: relative;
    padding: 0 0 0 35px;
  }
    &:not(checked)+.btn__slide-label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFF;
    border: 1px solid $colOrange;
    transition: all 0.10s;
  }
    &:not(checked)+.btn__slide-label:after {
    content: '';
    position: absolute;
    top: -9px;
    left: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.10s;
  }
    &:checked+.btn__slide-label:after {
    opacity: 1;
  }
    &:checked+.btn__slide-label:before {
    background: $colOrange;
  }
    &:checked+.btn__slide-label:after {
    border: 2px solid $colOrange;
  }
}