.section.contacts
  .contacts__cont
    .contacts__title
      h2.contacts__title-item Контакты
    ul.contacts__list
      li.contacts__item skype
      li.contacts__item mail
      li.contacts__item 8921312313
      li.contacts__item Russia, Spb
  .contacts__map-cont MAP WILL BE HERE

