.section.about#my-works
  .about__wrapper
    .about__wrapper-title
      .about__title
        h2.about__title-item Обо мне
    .about__my-story-cont
      .about__my-photo
        img.about__my-photo-item(src='../../img/my-photo-big.jpg', alt='')
      .about__title
        h2.about__title-item Кто я
      p.about__my-story-text Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      p.about__my-story-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!



