.section.my-skills
  .my-skills__title
    h2.my-skills__title-item Чем я могу быть вам полезен
  .my-skills__text
    p.my-skills__text-item Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
  .my-skills__desc
    .my-skills__desc-title Frontend
      .my-skills__desc-html html
      .my-skills__desc-css css
      .my-skills__desc-js js
    .my-skills__desc-title Backend
      .my-skills__desc-html php
      .my-skills__desc-css mySQL
      .my-skills__desc-js Nodejs
      .my-skills__desc-js Mongo
    .my-skills__desc-title Workflow
      .my-skills__desc-html Git
      .my-skills__desc-css Gulp
      .my-skills__desc-js Yarn

