.section.my-skills
  .my-skills__wrapper
    .my-skills__title
      h2.my-skills__title-item Чем я могу быть вам полезен
    .my-skills__text
      p.my-skills__text-item Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
    .my-skills__desc
      h2.my-skills__desc-title Frontend
      .my-skills__desc-circles-cont
        .item
          span.item__title HTML5
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-55(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
        .item
          span.item__title CSS3
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-30(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
        .item
          span.item__title CSS3
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-30(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
      h2.my-skills__desc-title Backend
      .my-skills__desc-circles-cont
        .item
          span.item__title PHP
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-70(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
        .item
          span.item__title mySQL
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-80(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
        .item
          span.item__title Node.js & npm
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-45(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
        .item
          span.item__title Mongo.db
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-60(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
      h2.my-skills__desc-title Workflow
      .my-skills__desc-circles-cont
        .item
          span.item__title Git
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-40(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
        .item
          span.item__title Gulp
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-70(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
        .item
          span.item__title Yarn
          svg.circles(viewbox='0 0 110 110')
            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
            circle.circle__second.circle-35(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
