.section.blog__header
  .blog__header-bg
    .blog__header-bg-min
    include header
    img.blog__header-img(src='../../img/my-photo.jpg')
    .blog__header-my-name Блог
    .blog__header-title Статьи, которые я написал
    .blog__header-svg-arrow
      svg.blog__header-svg-arrow-down
        use(xlink:href='../../img/sprites/sprite-svg.svg#arrow_down')





