.section.blog__header
  .blog__header-bg
    .blog__header-bg-min
      svg.my-works__header-bg-min-icon
        use(xlink:href='../../img/sprites/sprite-svg.svg#blog_header')
    include header
    .blog__header-img-cont
      img.blog__header-img(src='../../img/my-photo.jpg')
    .blog__header-my-name Блог
    .blog__header-title Интересные статьи и истории из жизни
    .my-works__header-svg-arrow
      a.my-works__header-down-link(href="#my-works")
          svg.my-works__header-svg-arrow-down
            use(xlink:href='../../img/sprites/sprite-svg.svg#arrow_down')





