.section.blog
  .blog__content
    #tab-full-container.tab-container.blog__content-tab-wrap
      .etabs.blog__content-tab-cont.blog__content-tab-active
        .blog__content-tab-cont-fixed.js-fixed-menu
          span#tab-1.tab.blog__content-tab-item
            a.blog__content-tab-item-link(href="#tabs-sass") Самое важное в SASS
          span#tab-2.tab.blog__content-tab-item
            a.blog__content-tab-item-link(href="#tabs2-html") Приёмы в вёрстке, без которых не обходится ни один сайт
          span#tab-3.tab.blog__content-tab-item
            a.blog__content-tab-item-link(href="#tabs3-gulp") Самый необходимый набор Gulp плагинов
          span#tab-4.tab.blog__content-tab-item
            a.blog__content-tab-item-link(href="#tabs4-jade") Почему я выбрал Jade
          .blog__content-tab-circle
      .panel-container.blog__content-tab-panel
        #tabs-sass.blog__theme
          .blog__theme-item
            h2.blog__title-item Самое важное в sass
            date.blog__title-date 22.22.22
            .blog__title-text
              p.blog__text-item Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p.blog__text-item Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .blog__code-example
              ul.blog__code-list
                li.blog__code-list-item 1
                li.blog__code-list-item 2
                li.blog__code-list-item 3
                li.blog__code-list-item 4
                li.blog__code-list-item 5
                li.blog__code-list-item 6
                li.blog__code-list-item 7
              code.blog__code-item
                  pre.blog__code-item-cont
                    | html {
                    |     // comment
                    |     line-height: 1.15; /* 1 */
                    |     -ms-text-size-adjust: 100%; /* 2 */
                    |     -webkit-text-size-adjust: 100%; /* 2 */
                    | }
        #tabs2-html.blog__theme
          .blog__theme-item
            h2.blog__title-item Приёмы в вёрстке, без которых не обходится ни один сайт
            date.blog__title-date 22.22.22
            .blog__title-text
              p.blog__text-item Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p.blog__text-item Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .blog__code-example
              ul.blog__code-list
                li.blog__code-list-item 1
                li.blog__code-list-item 2
                li.blog__code-list-item 3
                li.blog__code-list-item 4
                li.blog__code-list-item 5
                li.blog__code-list-item 6
                li.blog__code-list-item 7
              code.blog__code-item
                pre.blog__code-item-cont
                  | html {
                  |     // comment
                  |     line-height: 1.15; /* 1 */
                  |     -ms-text-size-adjust: 100%; /* 2 */
                  |     -webkit-text-size-adjust: 100%; /* 2 */
                  | }
        #tabs3-gulp.blog__theme
          .blog__theme-item
            h2.blog__title-item Самый необходимый набор Gulp плагинов
            date.blog__title-date 22.22.22
            .blog__title-text
              p.blog__text-item Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p.blog__text-item Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .blog__code-example
              ul.blog__code-list
                li.blog__code-list-item 1
                li.blog__code-list-item 2
                li.blog__code-list-item 3
                li.blog__code-list-item 4
                li.blog__code-list-item 5
                li.blog__code-list-item 6
                li.blog__code-list-item 7
              code.blog__code-item
                pre.blog__code-item-cont
                  | html {
                  |     // comment
                  |     line-height: 1.15; /* 1 */
                  |     -ms-text-size-adjust: 100%; /* 2 */
                  |     -webkit-text-size-adjust: 100%; /* 2 */
                  | }
        #tabs4-jade.blog__theme
          .blog__theme-item
            h2.blog__title-item Почему я выбрал Jade
            date.blog__title-date 22.22.22
            .blog__title-text
              p.blog__text-item Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p.blog__text-item Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .blog__code-example
              ul.blog__code-list
                li.blog__code-list-item 1
                li.blog__code-list-item 2
                li.blog__code-list-item 3
                li.blog__code-list-item 4
                li.blog__code-list-item 5
                li.blog__code-list-item 6
                li.blog__code-list-item 7
              code.blog__code-item
                pre.blog__code-item-cont
                  | html {
                  |     // comment
                  |     line-height: 1.15; /* 1 */
                  |     -ms-text-size-adjust: 100%; /* 2 */
                  |     -webkit-text-size-adjust: 100%; /* 2 */
                  | }