.section.blog__header
  .blog__header-bg
    include header
    img.blog__header-img(src='../../img/my-photo.jpg')
    .blog__header-my-name Блог
    .blog__header-title Статьи, которые я написал
    .blog__header-arrow-down svg will be here





