.footer-big__container
  footer.footer-big
    .footer-big__nav
      ul.footer-big__nav-list
        li.footer-big__nav-list-item
          a.footer-big__nav-list-item-link(href='#') Мои работы
        li.footer-big__nav-list-item
          a.footer-big__nav-list-item-link(href='#') Мои работы
        li.footer-big__nav-list-item
          a.footer-big__nav-list-item-link(href='#') Мои работы
        li.footer-big__nav-list-item
          a.footer-big__nav-list-item-link(href='#') Мои работы
      .footer-big__socials
        ul.footer-big__socials-list
          li.footer-big__socials-list-item.vk
            a.footer-big__socials-list-item-link(href='#') icon
          li.footer-big__socials-list-item.vk
            a.footer-big__socials-list-item-link(href='#') icon
          li.footer-big__socials-list-item.vk
            a.footer-big__socials-list-item-link(href='#') icon
    .footer-big__copyright
      .footer-big__copyright-text Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
      .footer-big__copyright-text © Владимир Астахов | создано с любовью
      | в LoftSchool | 2016
