.footer-big__container
  footer.footer-big
    .footer-big__wrap
      .footer-big__nav
        ul.footer-big__nav-list
          li.footer-big__nav-list-item
            a.footer-big__nav-list-item-link(href='my-works.html') Мои работы
          li.footer-big__nav-list-item
            a.footer-big__nav-list-item-link.js-blog-active(href='about.html') Обо мне
          li.footer-big__nav-list-item
            a.footer-big__nav-list-item-link(href='blog.html') Блог
          li.footer-big__nav-list-item
            a.footer-big__nav-list-item-link(href='index.html') На главную
      .footer-big__socials
        ul.footer-big__socials-list
          li.footer-big__socials-list-item.vk
            a.footer-big__socials-list-item-link(href='https://t.me/albru1', target="_blank", title='https://t.me/albru1')
              svg.footer-big__svg-arrow-down
                use(xlink:href='../../img/sprites/sprite-svg.svg#telegram')
          li.footer-big__socials-list-item.git
            a.footer-big__socials-list-item-link(href='https://github.com/albru', target='_blank')
              svg.footer-big__svg-arrow-down
                use(xlink:href='../../img/sprites/sprite-svg.svg#github_round')
          //li.footer-big__socials-list-item.in
          //  a.footer-big__socials-list-item-link(href='#')
          //    svg.footer-big__svg-arrow-down
          //      use(xlink:href='../../img/sprites/sprite-svg.svg#in_round')
    .footer-big__copyright
      h3.footer-big__copyright-text.left Разработка современных сайтов и продвижение под ключ.
      .footer-big__copyright-text.right Санкт - Петербург 2018 <br> www.albru.ru
      
