.footer-big__container
  footer.footer-big
    .footer-big__nav
      .footer-big__nav-list
        a.footer-big__nav-list-item(href='#') Мои работы
        a.footer-big__nav-list-item(href='#') Обо мне
        a.footer-big__nav-list-item(href='#') Блог
        a.footer-big__nav-list-item(href='#') Авторизация
      .footer-big__socials
        .footer-big__socials-list
          .footer-big__socials-list-item.vk icon
          .footer-big__socials-list-item.gh icon
          .footer-big__socials-list-item.in icon
    .footer-big__copyright
      .footer-big__copyright-text Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
      .footer-big__copyright-text © Владимир Астахов | создано с любовью
      | в LoftSchool | 2016
