.header__wrapper
  .header__container
    header.header
      ul.header__socials-list
        li.header__socials-list-item
          a.header__socials-list-item-link icon
        li.header__socials-list-item
          a.header__socials-list-item-link icon
        li.header__socials-list-item
          a.header__socials-list-item-link icon
      include ../modules/mobile-menu


