.header__wrapper
  .header__container
    header.header
      ul.header__socials-list
        li.header__socials-list-item
          a.header__socials-list-item-link(href='https://vk.com/brukhanov', target='_blank')
            svg.header__social-icon.vk
              use(xlink:href='../../img/sprites/sprite-svg.svg#vk')
        li.header__socials-list-item
          a.header__socials-list-item-link(href='#')
            svg.header__social-icon.git
              use(xlink:href='../../img/sprites/sprite-svg.svg#github', target='_blank')
        li.header__socials-list-item
          a.header__socials-list-item-link(href='https://github.com/sashabrukh', target='_blank')
            svg.header__social-icon.in
              use(xlink:href='../../img/sprites/sprite-svg.svg#in')
include ../modules/mobile-menu


