header.header
  .header__wrap
    include ../modules/logo
    include ../modules/main-nav
    button.btn.header__sub-btn Подписаться
    input(type='search', name='search', placeholder='Поиск').search.header__search
    .header__search-icon


