.main__container
  .section.section__popular
    a(href='#').section__main-item-link
      .section__main-item.section__main-item-promo
        h2.section__main-item-title.section__main-item-promo-title Всё самое лучшее впереди. Статья о человеке, который смог
  section.section.section__health
    h2.section__title.section__health-title Здоровье
    //.section__main-item.section__main-item-health
    .section__item.section__item-health
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-health
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-health
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-health
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
  section.section.section__people
    h2.section__title.section__people-title Люди
    a(href='#').section__main-item-link
      .section__main-item.section__main-item-people
        h2.section__main-item-title.section__main-item-people-title Всё самое лучшее впереди. Статья о человеке, который смог
    .section__item.section__item-people
      a(href='#').section__item-img-link
        img(src='../img/11.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-people
      a(href='#').section__item-img-link
        img(src='../img/11.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то ещемини раздела. Можно написать что-то ещемини раздела. Можно написать что-то еще
    .section__item.section__item-people
      a(href='#').section__item-img-link
        img(src='../img/11.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок
    .section__item.section__item-people
      a(href='#').section__item-img-link
        img(src='../img/11.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то ещеПривет. Это новый заголовок этого мини раздела. Можно написать что-то еще
  section.section.section__finance
    h2.section__title.section__finance-title Финансы
    a(href='#').section__main-item-link
      .section__main-item.section__main-item-people
        h2.section__main-item-title.section__main-item-people-title Всё самое лучшее впереди. Статья о человеке, который смог
    .section__item.section__item-finance
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-finance
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-finance
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-finance
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
  section.section.section__tech
    h2.section__title.section__tech-title Технологии
    a(href='#').section__main-item-link
      .section__main-item.section__main-item-people
        h2.section__main-item-title.section__main-item-people-title Всё самое лучшее впереди. Статья о человеке, который смог
    .section__item.section__item-tech
      a(href='#').section__item-img-link
        img(src='../img/11.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-tech
      a(href='#').section__item-img-link
        img(src='../img/11.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то ещемини раздела. Можно написать что-то ещемини раздела. Можно написать что-то еще
    .section__item.section__item-tech
      a(href='#').section__item-img-link
        img(src='../img/11.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок
    .section__item.section__item-tech
      a(href='#').section__item-img-link
        img(src='../img/11.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то ещеПривет. Это новый заголовок этого мини раздела. Можно написать что-то еще
  section.section.section__travel
    h2.section__title.section__travel-title Путешествия
    a(href='#').section__main-item-link
      .section__main-item.section__main-item-people
        h2.section__main-item-title.section__main-item-people-title Всё самое лучшее впереди. Статья о человеке, который смог
    .section__item.section__item-travel
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-travel
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-travel
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще
    .section__item.section__item-travel
      a(href='#').section__item-img-link
        img(src='../img/AN1.jpg', alt='img').section__item-img
      .section__item-short-desc
        a(href='#').section__item-short-desc-link-min Это заголовок ссылка
        a(href='#').section__item-short-desc-link
          h3.section__item-short-desc-title Привет. Это новый заголовок этого мини раздела. Можно написать что-то еще