.section.my-works__about
  .my-works__about-title
    h2.my-works__about-title-item Что обо мне говорят
    svg.my-works__about-svg-header
      use(xlink:href='../../img/sprites/sprite-svg.svg#about_header')
  .my-works__about-comment
    .my-works__about-comment-item.first
      .my-works__about-quote
        span.my-works__about-quote-item &#10077;
      .my-works__about-text.first
        p.my-works__about-text Был очень очень важный заказ на лендинг. Александр выполнил работу очень качественно, все остались довольны:) Обязательно обращусь еще!
      .my-works__about-who
        img.my-works__about-avatar.first(src='../../img/comments/1.jpg', alt='avatar')
        .my-works__about-name Максимова Юля
        .my-works__about-desc Дизайнер, фрилансер
    .my-works__about-comment-item.second
      .my-works__about-quote
        span.my-works__about-quote-item &#10077;
      .my-works__about-text.second
        p.my-works__about-text Я занимаюсь строительством, у нас с партнерами есть небольшой сайт. Требовалось переделать две страницы, а так же помочь с наполнением. Знакомый посоветовал обратиться к Александру. Работа была выполнена в срок. Спасибо!
      .my-works__about-who
        img.my-works__about-avatar.second(src='../../img/comments/2.jpg', alt='avatar')
        .my-works__about-name Алексей Кочанов
        .my-works__about-desc Предприниматель
  include ../modules/contact-form
  .my-works__about-svg-arrow
    a.my-works__about-up-link(href='#my-works-up')
      svg.my-works__about-svg-arrow-up
        use(xlink:href='../../img/sprites/sprite-svg.svg#portf_arrow_up')

