.section.my-works__header
  .my-works__header-bg
    .my-works__header-bg-min
    include header
    img.my-works__header-img(src='../../img/my-photo.jpg')
    .my-works__header-my-name Александр Брюханов
    .my-works__header-title Личный сайт веб разработчика
    .my-works__header-svg-arrow
      svg.my-works__header-svg-arrow-down
        use(xlink:href='../../img/sprites/sprite-svg.svg#arrow_down')



