.section.my-works__header#my-works-up
  .my-works__header-bg(style="background-image: url(../../img/back/mountains.jpg)")
    .my-works__header-bg-min
      svg.my-works__header-bg-min-icon
        use(xlink:href='../../img/sprites/sprite-svg.svg#portfolio_header')
    include header
    .my-works__header-img-cont
      img.my-works__header-img(src='../../img/albru.jpg')
    h2.my-works__header-my-name Александр Брюханов
    h1.my-works__header-title Разработка сайтов под ключ
    .my-works__header-svg-arrow
      a.my-works__header-down-link(href="#my-works")
        svg.my-works__header-svg-arrow-down
          use(xlink:href='../../img/sprites/sprite-svg.svg#arrow_down')



