.section.my-works__about
  .my-works__about-title
    h2.my-works__about-title-item Что обо мне говорят
    svg.my-works__about-svg-header
      use(xlink:href='../../img/sprites/sprite-svg.svg#about_header')
  .my-works__about-comment
    .my-works__about-comment-item.first
      .my-works__about-quote
        span.my-works__about-quote-item &#10077;
      p.my-works__about-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний
        | и бессонных ночей!
      .my-works__about-who
        img.my-works__about-avatar.first(src='../../img/comments/dima.jpg', alt='avatar')
        .my-works__about-name Ковальчук Дмитрий
        .my-works__about-desc основатель Loftschool
    .my-works__about-comment-item.second
      .my-works__about-quote.clearfix
        span.my-works__about-quote-item &#10077;
      p.my-works__about-text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт
        | на слишком старых браузерах!
      .my-works__about-who
        img.my-works__about-avatar.second(src='../../img/comments/vova.jpg', alt='avatar')
        .my-works__about-name Зар Захаров
        .my-works__about-desc преподаватель
  include ../modules/contact-form
  .my-works__about-svg-arrow
    svg.my-works__about-svg-arrow-down
      use(xlink:href='../../img/sprites/sprite-svg.svg#portf_arrow_up')

