.section.my-works__header
  .my-works__header-bg
    include header
    img.my-works__header-img(src='../../img/my-photo.jpg')
    .my-works__header-my-name Александр Брюханов
    .my-works__header-title Личный сайт веб разработчика
    .my-works__header-arrow-down svg will be here



