.section.my-works__header#my-works-up
  .my-works__header-bg
    include ../modules/parallax
    .my-works__header-bg-min
      svg.my-works__header-bg-min-icon
        use(xlink:href='../../img/sprites/sprite-svg.svg#portfolio_header')
    include header
    .my-works__header-img-cont
      img.my-works__header-img(src='../../img/my-photo.jpg')
    .my-works__header-my-name Александр Брюханов
    .my-works__header-title Личный сайт веб разработчика
    .my-works__header-svg-arrow
      a.my-works__header-down-link(href="#my-works")
        svg.my-works__header-svg-arrow-down
          use(xlink:href='../../img/sprites/sprite-svg.svg#arrow_down')



