.section.my-works__works
  .my-works__works-bg
  .my-works__works-title
    h2.my-works__works-title-item Мои работы
  .my-works__works-slider-horizontal
  .my-works__works-slider-desc
    h2.my-works__works-name Сайт школы онлайн образования
    .my-works__works-tech
      span.my-works__works-tech-item Html,
      span.my-works__works-tech-item Css,
      span.my-works__works-tech-item Javascript
    a(href='#').my-works__works-link Посмотреть сайт
  .my-works__works-slider-vertical
    .my-works__works-slider-vertical.left
    .my-works__works-slider-vertical.right



