.section.my-works__about
  .my-works__about-title
    h2.my-works__about-title-item Что обо мне говорят
  .my-works__about-quote-icon icon will be here
  .my-works__about-comment
    p.my-works__about-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний
      | и бессонных ночей!
    .my-works__about-who
      img.my-works__about-avatar.first(src='../../img/dima.jpg', alt='avatar')
      .my-works__about-name Ковальчук Дмитрий
      .my-works__about-desc основатель Loftschool
    .my-works__about-quote-icon icon will be here
    p.my-works__about-text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт
     | на слишком старых браузерах!
    .my-works__about-who
      img.my-works__about-avatar.second(src='../../img/vova.jpg', alt='avatar')
      .my-works__about-name Зар Захаров
      .my-works__about-desc преподаватель