.section.section-about
  .section-about__cont
    h2.section-about__title Что обо мне говорят
  .section-about__quote-icon icon will be here
  .section-about__comment
    p.section-about__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний
      | и бессонных ночей!
    .section-about__who
      .section-about-avatar
      .section-about-name Ковальчук Дмитрий
      .section-about-desc основатель Loftschool
  .section-about__quote-icon
    p.section-about__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт
     | на слишком старых браузерах!
    .section-about__who
      .section-about-avatar
      .section-about-name Зар Захаров
      .section-about-desc преподаватель