.section.section-works
  .section-works__title
  .section-works__cont
    h2.section-works__header Мои работы
  .section-works__slider-horizontal
  .section-works__slider-desc
    h2.section-works__name Сайт школы онлайн образования
    .section-works__tech
      span.section-works__tech-item Html,
      span.section-works__tech-item Css,
      span.section-works__tech-item Javascript
    a(href='#').section-works__link Посмотреть сайт
  .section-works__slider-vertical
    .section-works__slider-vertical.left
    .section-works__slider-vertical.right



