.section.section-header
  .section-header-bg
    include header
    img(src='../../img/my-photo.jpg').section-header__img
    span.section-header__my-name Александр Брюханов
    span.section-header__title Личный сайт веб разработчика
    .section-header__arrow-down svg here



