.section.section-works
  .section-works__title
  .section-works__cont
    h1.section-works__header Мои работы
  .section-works__slider-horizontal
  .section-works__slider-desc
    .section-works__name
    .section-works__tech
    a(href='#').section-works__link
  .section-my-works-slider-vertical


