@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";

.my-works__contacts {

  &-container {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:rem(200px);

  }
  &-form {
    @include phones {
      width: 300px;
      height: 417px;
    }
    @include tablets {
      width: 348px;
      height: 405px;
    }
    @include laptop {
      width: 380px;
      height: 437px;
    }
    border-radius: rem(10px);
    text-align: center;
    background-color: $whiteOp;
  }
  &-form-fieldset {
    width: 100%;
    outline:none;
    border: none;
    @include phones {

    }
    margin-top: rem(60px);
  }
  &-form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
  }
  &-form-title-item {
    position: relative;
    font-family: $bern;
    font-size: $fz35;
    max-width: 70%;
    text-align: center;
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      left: rem(-50px);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      right: rem(-50px)
    }
  }
  &-form-login {
    margin: 0 auto;
    position: relative;
    width: 90%;
    border-radius: rem(10px);
    border: none;
    padding: rem(10px) rem(20px);
    margin-bottom: rem(20px);
  }
  &-form-pw {
    margin: 0 auto;
    position: relative;
    width: 90%;

    border-radius: rem(10px);
    border: none;
    padding: rem(10px) rem(20px);
    margin-bottom: rem(20px);
  }
  &-form-text {
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: rem(170px);
    border: none;
    padding: rem(20px);
    margin-bottom: 20.11%;
    border-radius: rem(10px);
    resize: none;
  }
  &-form-fieldset {
    height:100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: rem(10px);
  }
  &-buttons {
    position: absolute;
    bottom: 0;
    background-color: $green;
    width: 100%;
    height: 11.11%;
    display: flex;
    align-items: center;
    border-bottom-left-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    &--left {
      width: 50%;
      height: 100%;
      border-right: 2px solid $lgray;

    }
    &--right {
      width: 50%;
      height: 100%;

    }
  }
  &-clear {
    color: $white;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover {
      background-color: darken($green, 10%);
      border-bottom-right-radius: rem(10px);
    }
    &-clear {

    }
  }
  &-submit {
    color: $white;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover {
      background-color: darken($green, 10%);
      border-bottom-left-radius: rem(10px);
    }
  }
  &-arrow {
    color: $white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
