@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";

.log-form {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  text-align: center;
  outline:none;
  border: none;

  &__container {
    width: 99%;
    height: rem(505px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $whiteOp;
    border-radius: rem(10px);
  }
  &__title {
    display: flex;
    justify-content:center;
    align-items:center;
  }
  &__title-item {
    position: relative;
    font-family:$bern;
    font-size:$fz35;
    max-width:60%;
    text-align: center;
    margin:rem(30px);
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      left: rem(-50px);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      top: 50%;
      right: rem(-50px)
    }
  }
  &__label-cont {
    width: 100%;
    height: 10%;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-bottom:rem(20px);
  }
  &__label-pw {
    width: 17.3%;
    height: 100%;
    background-color: $softwhite2;
    border-bottom-left-radius: rem(10px);
    border-top-left-radius: rem(10px);
  }
  &__label-login {
    width: 17.3%;
    height: 100%;
    background-color: $softwhite2;
    border-bottom-left-radius: rem(10px);
    border-top-left-radius: rem(10px);
  }
  &__login {
    position: relative;
    width: 70%;
    height:100%;
    border-top-right-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    border: none;
    padding:rem(10px) rem(20px);
  }
  &__pw {
    position: relative;
    width: 70%;
    height:100%;
    border-top-right-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    border: none;
    padding:rem(10px) rem(20px);

  }
  &__captcha-cont {
    margin-top: rem(40px);
    margin-bottom: rem(30px);
  }
  &__captcha-question {
    margin-bottom:rem(20px);
  }
  &__buttons {
    position: absolute;
    bottom: 0;
    background-color: $green;
    width: 100%;
    height: 11.11%;
    display: flex;
    align-items: center;
    border-bottom-left-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    &--left {
      width: 50%;
      height: 100%;
      border-right: 2px solid $lgray;
    }
    &--right {
      width: 50%;
      height: 100%;
    }
  }
  &__to-main {
    color: $white;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items:center;
    &:hover {
      background-color: darken($green, 10%);
    }
  }
  &__submit {
    color: $white;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover {
      background-color: darken($green, 10%);
    }
  }
}

//checkbox
.log-form__captcha-cont {
  position: relative;
  display: flex;
  justify-content: center;
}

.log-form__label {
  margin-left:rem(30px);
}

.log-form__captcha-cont .log-form__captcha {
  display: none;
}

.log-form__label:after {
  position: absolute;
  content: '';
  display: block;
  height: rem(25px);
  width: rem(25px);
  background-color: $white;
  outline: 1px solid $lgray;
  top: rem(3px);
  right: 50%;
  transform: translate(-190%);
}

.log-form__captcha:checked + .log-form__label:after {
  content: '\2714';
  color: $white;
  font-size: rem(15px);
  outline: 1px solid #939598;
  background-color: $green;
}

//radio
.log-form__radio-cont {
  display: flex;
  position: relative;
  justify-content:center;
  width: 100%;
}

.log-form__radio-wrap {
  position: relative;
  width:50%;
}

.log-form__radio-text.yes {
  margin-left: rem(50px);
}

.log-form__radio-text.no {

}
.log-form__radio {
  display: none;
}

.log-form__label-radio {
  position: absolute;
  content: '';
  display: inline-block;
  width: rem(30px);
  height: rem(30px);
  border-radius: 50%;
  vertical-align: middle;
  background-color: $white;
  border: 0.5px solid $lgray;
  cursor: pointer;
}
.log-form__label-radio.yes {
  left: 50%;
  transform: translate(-100%);
}
.log-form__label-radio.no {
  left: 50%;
  transform: translate(-300%);
}

.log-form__radio:checked + .log-form__label-radio:before {
  position: absolute;
  content: '';
  z-index: 5;
  width: rem(8px);
  height: rem(8px);
  border-radius: 50%;
  background-color: $green;
  border: 1px solid $green;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.log-form__radio:checked + .log-form__label-radio + .log-form__radio-text {
  color: $green;
}

.log-form__label-radio {

}






