@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";

.mobile-menu-btn-container {

}
.mobile-menu {
  &__btn-container {
    position: absolute;
    right: rem(20px);
    top: rem(20px);
    width: rem(35px);
    height: rem(30px);
    cursor: pointer;
    z-index: 999;
  }
  &__btn {
    position: absolute;
    background: $white;
    width: rem(35px);
    height: rem(4px);
    top: rem(4px);
    right: 0;
    margin-top: rem(8px);
    opacity: 1;
    transition: .4s;
    border-radius: rem(5px);
    &:after {
      content: "";
      display: block;
      position: absolute;
      background: $white;
      width: rem(35px);
      height: rem(4px);
      top: 50%;
      right: 0;
      margin-top: rem(12px);
      opacity: 1;
      transition: .4s;
      border-radius: rem(5px);
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      background: $white;
      width: rem(35px);
      height: rem(4px);
      top: 50%;
      right: 0;
      margin-top: rem(-16px);
      opacity: 1;
      transition: .4s;
      border-radius: rem(5px);
    }
  }
  &__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: darken($greenOp, 10%);
    width: 0;
    opacity: 1;
    transition-delay: .5s;
    overflow: hidden;
    transition: all 0.25s;
  }
  &__container--active {
    width: 100%;
  }
  &__item {
    margin-bottom: rem(60px);

  }

  &__list {
    margin-top:10vh;
  }
  &__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s;
    font-family:$bern;
    font-size: $fz35;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
    &:before {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      left: rem(-60px);
      top: rem(25px);
    }
    &:after {
      position: absolute;
      content: '';
      background-color: $lgray;
      width: rem(30px);
      height: rem(7px);
      right: rem(-60px);
      top: rem(25px);
    }
  }
  &__checkbox {
    display: none;
  }
}


.mobile-menu__btn--active:before {
  transform: rotate(45deg);
  @include phones {
    top: rem(16px);
    left: rem(-4px);
  }
  @include tablets {
    top: rem(17px);
    left: rem(-18px);
  }
}

.mobile-menu__btn--active:after {
  transform: rotate(-45deg);
  @include phones {
    top: rem(-12px);
    left: rem(-4px);
  }
  @include tablets {
    top: rem(-11px);
    left: rem(-18px);
  }
}

.mobile-menu__btn--active {
  background: rgba(255, 255, 255, .0);
}