@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";

#parallax__image0 {

}

#parallax__image1 {

}

#parallax__image2 {

}

#parallax__image3 {
  transform: translateX(-60%);

}

#parallax__image4 {

}

#parallax__image5 {
  transform: translate(-55%, 10%);

}

#parallax__image6 {
  transform: translateX(-10%);
}


#parallax__image7 {
transform: translate(-70%, 10%);
}

#parallax__image8 {
transform: translate(-47%, -5%);

}

#parallax__image9 {
     transform: translateX(-70%);
}

.parallax {
  display: none;
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow:hidden;
  @include laptop {
    display: initial;
  }
  &__layer {
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }
  &__image {
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  }
}





