@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";

.preloader-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/preloader/bg.jpg') center no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 99999;
  transition: all 0.3s;
}

.preloader-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.preloader {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.preloader-icon {
  fill: $white;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.preloader-active {
  animation: circle 1s linear infinite;
}

.preloader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  font-size: $fz35;
}
