@import "../misc/_variables";
@import "../misc/_functions";
@import "../misc/_mixins";
@import "../misc/_media";

.welcome-form {
  &__my-photo {
    border-radius: 50%;
    margin-top:rem(30px);
  }
  &__my-name {
    font-weight:600;
    color: $gray;
    margin-bottom:0;
  }
  &__title {
    color: $gray;
    margin-bottom:rem(20px);
    margin-top:0;
  }
  &__social {
    display: flex;
    justify-content:center;
    align-items:center;
  }
  &__social-link {
    width:rem(50px);
    height:rem(50px);
    margin-right:rem(30px);
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    &:last-of-type {
      margin-top:rem(-7px);
    }
    &:hover > .welcome-form__social-icon {
      fill: darken($green, 10%);
    }
  }
  &__social-icon {
    fill: $greenOp;
    width: 80%;
    height:80%;
  }
  &__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $green;
    width: 100%;
    height: 11.11%;
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom-left-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    &--left {
      flex: 3;
      height: 100%;
      border-right: 2px solid $lgray;
    }
    &--middle {
      height: 100%;
      flex: 2;
      border-right: 2px solid $lgray;
    }
    &--right {
      flex: 1;
      height: 100%;
    }
  }
  &__btn {
    display: flex;
    height:100%;
    justify-content:center;
    align-items:center;
    color: $white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: darken($green, 10%);
    }
  }
}

