@import '../abstracts/variables';
@import '../abstracts/mixins';
.best-burgers__bg {
  min-height: 650px;
  height: 100vh;
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: flex;
  justify-content: center;
  position: relative;

}

