@import '../abstracts/variables';
@import '../abstracts/mixins';
.comments__bg {
  min-height: 650px;
  height: 100vh;
}

.comments__container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.comments__image {
  min-height: 32.5rem;
  height: 50vh;
  width: 25%;
  filter: grayscale(1);
  background-size: cover;
  transition: all 0.45s;
  &:hover {
    filter: grayscale(0.5);
  }
  &:hover .comments__item {
    opacity: 1;
  }
  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.comments__image--1 {
  background-image: url('../img/comments-images/1.jpg');
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.comments__image--2 {
  background-image: url('../img/comments-images/2.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.comments__image--3 {
  background-image: url('../img/comments-images/3.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.comments__image--4 {
  background-image: url('../img/comments-images/4.jpg');
  background-repeat: no-repeat;
  background-position: 10% 40%;
}

.comments__image--5 {
  background-image: url('../img/comments-images/5.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.comments__image--6 {
  background-image: url('../img/comments-images/6.jpg');
  background-repeat: no-repeat;
  background-position: 60% 0;
}

.comments__image--7 {
  background-image: url('../img/comments-images/7.jpg');
  background-repeat: no-repeat;
  background-position: 40% 0;
}

.comments__image--8 {
  background-image: url('../img/comments-images/8.jpg');
  background-repeat: no-repeat;
  background-position: 60% 0;
}

.comments__item {
  background-size: contain;
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 90%;
  width: 70%;
  margin: auto;
  @include tablets {
    text-align: center;
  }
    @include phones {
      flex-direction: column;
    }
}

.comments__title {
  font-size: $textSmall;
  color: $colWhite;
  font-family: $fontGagalin;
  margin-top: 5vh;
  margin-bottom: 30px;
  @include tablets {
    text-align: center;
    flex: 1;
    margin-top: 2.5vh;
  }
    @include phones {
      text-align: center;
      flex: 1;
      margin-top: 7.5vh;
    }
}

.comments__text {
  font-size: $textSmall;
  color: $colWhite;
  line-height: 2.4rem;
  @include phones {
    display: none;
  }
}