@import '../abstracts/variables';
.contacts__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-contacts.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}