@import '../abstracts/variables';
@import '../abstracts/mixins';
.menu__bg {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/background-images/bg-menu.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.menu__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu__title {
  font-family: $fontGagalin;
  font-size: $textHuge;
  color: $colWhite;
  display: inline-block;
  margin-top: 15vh;
  margin-left: 15vw;
  z-index: -1;
  @include tablets {
    margin-top: 5vh;
    margin-left: 5vw;
  }
}