.list {
  display: flex;
  background-color: #f0efe9;
}

.item {
  border-right: 2px solid #fff;
}

.tabs {
  padding: 20px;
  display: block;
  color: gray;
  background-color: #f0efe9;
}

.router-link-exact-active {
  background-color: white;
}
