@import "../misc/_variables";
@import "../misc/_functions";
@import "../misc/_mixins";
@import "../misc/_media";

@keyframes turn {
  to {
    transform: rotateY(180deg);
  }
}

@keyframes turnback {
  from {
    transform: rotateY(180deg)
  }
  to {
    transform: rotateY(0);
  }
}