doctype html
html(lang = 'ru-RU')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/libs.min.css")
    link(rel="icon", type="image/png", href="")
    title Portfolio
  body
    .wrapper
      .container
        include modules/mobile-log-form
        include blocks/footer
  script(src="../js/libs.min.js")
  script(src="../js/bundle.js")

