$colWhite: #ffffff;
$colWhite08: rgba(255, 255, 255, .8);
$colOrange: #e15431;
$colRed: #aa0000;
$colYellow: #f6b641;
$colGreen: #89c242;
$colGray: #2f3234;
$colLightGray: #6e6e6e;
$colBlack: #191919;
$colGray09: rgba(51, 54, 56, .9);
$colGray04: rgba(51, 54, 56, .4);
$textSmall: 1.4rem;
$textMedium: 2.41rem;
$textBig: 4rem;
$textHuge: 7.2rem;
$fontLifehack: Lifehack,
Arial,
Helvetica,
sans-serif;
$fontGagalin: Gagalin,
Arial,
Helvetica,
sans-serif;
$mediumscreen: 975px;
$bigscreen: 1500px;
$tablets: 768px;
$phones: 480px;
$standart: 1100px;
$component-dimension: 180px;
$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #3949AB;
$pan-color-dark: #5C6BC0;
$loader-color: #FDD835;