nav.main-nav
  a(href='#').main-nav__link Темы
  ul.main-nav__list
    li.main-nav__list-item
      a(href='#').main-nav__list-item-link Здоровье
    li.main-nav__list-item
      a(href='#').main-nav__list-item-link Люди
    li.main-nav__list-item
      a(href='#').main-nav__list-item-link Финансы
    li.main-nav__list-item
      a(href='#').main-nav__list-item-link Технологии
    li.main-nav__list-item
      a(href='#').main-nav__list-item-link Путешествия

