nav.mobile-menu
  input.mobile-menu__checkbox(type='checkbox', id='mobile-checkbox')
  label.mobile-menu__btn-container(for='mobile-checkbox')
    span.mobile-menu__btn(id='mobile-btn')
  .mobile-menu__container(id='mobile-cont')
    ul.mobile-menu__list
      li.mobile-menu__item
        a.mobile-menu__link(href='my-works.html') Мои работы
      li.mobile-menu__item
        a.mobile-menu__link(href='about.html') Обо мне
      li.mobile-menu__item
        a.mobile-menu__link(href='blog.html') Блог
      li.mobile-menu__item
        a.mobile-menu__link(href='index.html') Авторизация