#tab-full-container.tab-container
  .etabs
    span.tab
      a(href="#tabs-sass") Самое важное в SASS
    span#tab-2.tab
      a(href="#tabs2-html") Приёмы в вёрстке, без которых не обходится ни один сайт
    span#tab-3.tab
      a(href="#tabs3-gulp") Самый необходимый набор Gulp плагинов
    span#tab-4.tab
      a(href="#tabs4-jade") Почему я выбрал Jade
  .panel-container
    #tabs-sass
      h2 Самое важное в SASS
      p asdasdasdasd
    #tabs2-html
      h2 Приёмы в вёрстке, без которых не обходится ни один сайт
      p asdasdasdasd
    #tabs3-gulp
      h2 Самый необходимый набор Gulp плагинов
      p asdasdasdasd
    #tabs4-jade
      h2 Почему я выбрал Jade
      p asdasdasdasd