.welcome-form__wrapper
  .welcome-form__container
    .welcome-form
      img(src='../../img/my-photo.jpg').welcome-form__my-photo
      span.welcome-form__my-name Александр Брюханов
      span.welcome-form__title Личный сайт веб разработчика
      .welcome-form__social socials here
      .welcome-form__buttons
        .welcome-form__buttons--left
          button.welcome-form__portfolio.welcome-form__btn Мои работы
        .welcome-form__buttons--middle
          button(type="submit").welcome-form__about.welcome-form__btn Обо мне
        .welcome-form__buttons--right
          button(type="submit").welcome-form__blog.welcome-form__btn Блог


