.welcome-form__wrapper
  .welcome-form__container
    .welcome-form
      img(src='../img/my-photo.jpg').welcome-form__my-photo
      h2.welcome-form__my-name Александр Брюханов
      h3.welcome-form__title Личный сайт веб разработчика
      .welcome-form__social socials will be here
      .welcome-form__buttons
        .welcome-form__buttons--left
          a(href="#").welcome-form__portfolio.welcome-form__btn Мои работы
        .welcome-form__buttons--middle
          a(href="#").welcome-form__about.welcome-form__btn Обо мне
        .welcome-form__buttons--right
          a(href="#").welcome-form__blog.welcome-form__btn Блог


