form.welcome-form.back
  fieldset.welcome-form__fieldset
    img(src='../img/my-photo.jpg').welcome-form__my-photo
    h2.welcome-form__my-name Александр Брюханов
    h3.welcome-form__title Личный сайт веб разработчика
    .welcome-form__social
      a.welcome-form__social-link(href='https://vk.com/brukhanov', target="_blank")
        svg.welcome-form__social-icon.vk
          use(xlink:href='../img/sprites/sprite-svg.svg#vk')
      a.welcome-form__social-link(href='https://github.com/sashabrukh', target="_blank")
        svg.welcome-form__social-icon.git
          use(xlink:href='../img/sprites/sprite-svg.svg#github')
      a.welcome-form__social-link.in(href='#')
        svg.welcome-form__social-icon
          use(xlink:href='../img/sprites/sprite-svg.svg#in')
    .welcome-form__buttons.sss
      .welcome-form__buttons--left
        a(href="pages/my-works.html").welcome-form__portfolio.welcome-form__btn Мои работы
      .welcome-form__buttons--middle
        a(href="pages/about.html").welcome-form__about.welcome-form__btn Обо мне
      .welcome-form__buttons--right
        a(href="pages/blog.html").welcome-form__blog.welcome-form__btn Блог



