$desktop: 1800px;
$laptop: 1200px;
$tablets: 768px;
$phones: 320px;


$rob: 'Roboto',
Helvetica,
sans-serif;
$awes: 'FontAwesome',
Helvetica,
sans-serif;
$distr: 'BERNIER Distressed',
Helvetica,
sans-serif;
$shade: 'BERNIER Shade',
Helvetica,
sans-serif;
$bern: 'BERNIER',
Helvetica,
sans-serif;
$softwhite3: rgba(240, 239, 233, 1);
$softwhite2: rgba(239, 235, 224, 1);
$softwhite: rgba(250, 248, 240, 1);
$gray: rgba(69, 90, 100, 1);
$grayOp: rgba(69, 90, 100, .1);
$lgray: rgba(208, 209, 209, 1);
$lgray2: rgba(125, 134, 137, 1);
$whiteOp3: rgba(255, 255, 255, .2);
$whiteOp2: rgba(255, 255, 255, .9);
$whiteOp: rgba(255, 255, 255, .8);
$white: rgba(255, 255, 255, 1);
$green: rgba(12, 179, 160, 1);
$greenOp: rgba(12, 179, 160, .8);
$footer: rgba(49, 63, 67, 1);


$fz14: rem(14px);
$fz16: rem(16px);
$fz18: rem(18px);
$fz35: rem(35px);
$fz25: rem(25px);
$fz63: rem(63px);
$fz30: rem(40px);
$fz59: rem(59px);

$lhmin: 1.15;

//rgba(185, 191, 192, 1);


