$desktop: 1200px;
$laptop: 1200px;
$tablets: 801px;
$phones: 320px;

$rob: 'Roboto',
Helvetica,
sans-serif;
$awes: 'FontAwesome',
Helvetica,
sans-serif;
$distr: 'BERNIER Distressed',
Helvetica,
sans-serif;
$shade: 'BERNIER Shade',
Helvetica,
sans-serif;
$bern: 'BERNIER Shade',
Helvetica,
sans-serif;


$gray: rgba(69, 90, 100, 1);
$lgray: rgba(208, 209, 209, 1);
$whiteOp: rgba(255, 255, 255, .8);
$white: rgba(255, 255, 255, 1);
$green: rgba(12, 179, 160, 1);

$fz30: rem(40px);
$fz18: rem(18px);
$fz21: rem(21px);
$fz14: rem(14px);

$lhmin: 1.15;

//rgba(185, 191, 192, 1);


