@import "misc/variables.scss";
@import "misc/functions.scss";
@import "misc/mixins.scss";
@import "misc/media.scss";
@import "base/fonts";
@import "base/layout";
@import "animation/animation";
@import "blocks/aside";
@import "blocks/my-works-section-header";
@import "blocks/my-works-section-works";
@import "blocks/my-works-section-about";
@import "blocks/header";
@import "blocks/blog-section-tabs";
@import "blocks/blog-section-header";
@import "blocks/about-section-about";
@import "blocks/about-section-my-skills";
@import "blocks/about-section-contacts";
@import "pages/welcome";
@import "pages/my-works";
@import "pages/about";
@import "modules/mobile-log-form";
@import "modules/main-nav";
@import "modules/logo";
@import "modules/buttons";
@import "modules/welcome-form";
@import "modules/contacts-form.scss";
@import "modules/mobile-menu.scss";
@import "blocks/footer";
@import "blocks/footer-big";




